# Ignore test outputs
*.log
*.tmp

# Ignore temporary files and editor artifacts
*.swp
*.swo
*.sublime-* 
*.vscode/*

# Ignore compressed archives
*.zip
*.tar
*.gz
*.tgz

# Ignore build artifacts
build/
